# Dependencies
node_modules/

# Next.js
.next/
out/

# Build output
build/

# Testing
coverage/

# Environment variables
.env*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Generated MediaPipe assets (created by `npm run setup:mediapipe`)
public/mediapipe/
